{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+Vl5LE5PxdpTz5Sv4R3/c2E1vfa0PxRD1EJt8tZANvHg4b" crossorigin="anonymous">

<div class="header">
    <img src="{% static 'images/logo.png' %}">
    <h3 class="radial-text">TaskMaster: Organize Your Life </h3>
    <a href="{% url 'view-profile' %}">profile</a>
</div>

<div class="container">
    {% if request.user.is_authenticated %}
<h2>Welcome {{request.user |title}} </h2>
<span>You have <small  class="badge">{{count}}</small> incomplete task{{ count|pluralize:"s" }}</span>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif%}

</div>

<div class="second-row">
    <div class="fab-container">
        <a href="{% url 'task-create' %}" class="add-activity-fab">Add
            <i class="fas fa-plus"></i>
        </a>
    </div>
    
   
   
<form class="search-form" method="GET">
    <input class="search-input" type="text" name="search-area" value="{{search_input}}" placeholder="Enter your search">
    <input class="search-button" type="submit" value="Search">
</form>

</div>

<table>
    
    <tr>
        <th>Item</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>
            {{task.title}}
            
        </td>
        {{task.description}}
        <td>
           
           
            <a href="{% url 'task-update' task.id%}">Edit</a>
            <a href="{% url 'task-delete' task.id%}">Delete</a>
        </td>
    </tr>
    
    {% empty %}
    <h3>No items in list</h3>
    {% endfor %}
</table>