
<h2>My Tasks</h2>
{% if request.user.is_authenticated %}
<h2>Welcome {{request.user}}</h2>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif%}
<br>
<a href="{% url 'task-create' %}">Add activity</a>
<table>
    
    <tr>
        <th>Item</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>
            {{task.title}}
        </td>
        <td>
            <a href="{% url 'task' task.id%}">View</a>
            <a href="{% url 'task-update' task.id%}">Edit</a>
            <a href="{% url 'task-delete' task.id%}">Delete</a>
        </td>
    </tr>
    
    {% empty %}
    <h3>No items in list</h3>
    {% endfor %}
</table>