 body {
    
    background-image: url("images/background.4bb7feb00107.png"); 
    /* background-image: linear-gradient(to right, rgb(199, 199, 243), rgb(230, 248, 230));  */
  } 
   
.header{
    text-align: center;
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;    
    height: 25px;
    margin-top: 0px;
    margin-right: 3px;
}
.header img{
    width: 90px;
    height: 50px;
    border-radius: 50px;
   margin-right: 30px;
}
.radial-text{
    
    font-size: 24px;
    font-weight: 300;
  
    
    background: radial-gradient(circle, #ff0000, #0000ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
  
    border: 1px solid blueviolet;
    box-shadow: #0000ff;
    box-sizing: border-box;
    
  
}
.radial-text:hover{
    background: radial-gradient(circle,#3c3c4d, #b7d822);
    color:#ff0000;
    cursor: pointer;
}

.navbar {
    margin-left: 20px;
    background-color: #333;
    list-style-type: none; 
    padding: 0;
    overflow: hidden;
  }

.navbar li {
    list-style: none;
    margin-left: 15px;
    float: right;
  }
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
  }
.navbar li a:hover {
   
    color: rgb(223, 26, 26);
  }


.container-1{
    display:flex;
    align-items: center;
   


}

.container h2{
    color: #e6e6ee;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.container-1 span{
    margin-left: 150px;
}
.container-1  a{
    float: right;
    padding-left:600px;
    font-size: 20px;

}
.fa-solid {
    font-size: 20px;
    color: #be45b4;
    margin-left: 10px;
}

.badge {
    background-color: red;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: 1px solid black;
  }

  #tasks h3{
    text-shadow: 1px solid #333;
    justify-content: center;
    text-align: center;

  }

 
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-submit {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #0056b3;
}

.link-login {
    text-decoration: none;
    color: #007BFF;
}

.link-login:hover {
    color: #0056b3;
}



.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-submit {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #0056b3;
}

.register-link {
    text-decoration: none;
    color: #007BFF;
}

.register-link:hover {
    color: #0056b3;
}

.second-row{
    display: flex;
    align-items: center;
    
    flex-basis: 60%;
 
}

.search-form {
    justify-content: center;
    text-align: center; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    margin-left: 300px;
}

.search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}

.fab-container {
    margin-bottom: 5px;
    margin-left: 5px;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    background-color: #be45b4;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.add-activity-fab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 70%;
    font-size: 20px;
    text-decoration: none;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.add-activity-fab:hover {
    background-color: #e7d8de;
}

.fab-text {
    margin: 0;
    font-size: 16px;
    color: #333;
}


.task-create{
    background:linear-gradient(to right, rgb(214, 214, 241), rgb(122, 129, 122)) ;
}
/* Styling for the "Go Back" link */
.go-back {
    display: inline-block;
    margin-bottom: 20px;
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.go-back:hover {
    color: #0056b3;
}

/* Styling for the back arrow icon */
.back-arrow {
    margin-right: 5px;
    font-size: 24px;
}

/* Styling for the entire form */
.custom-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Styling for each form group */
.form-group {
    margin-bottom: 15px;
}

/* Styling for form field labels */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Styling for form fields */
.form-group input[type="text"],
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Styling for the submit button */
.submit-button {
    display: block;
    align-content: center;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #e985d8;
}

.submit-button a{
    color: #f5f5f5;
}






.form-label {
    font-size: 16px;
    color: #555;
}
nav .fa-sharp{
    display: none;
}
nav .fa-solid{
    display: none;
}

.delete-btn {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.delete-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.list-group li{
    list-style: none;
    
}
.font-italic{
    color: #ccc;
}
.author-name{
    color: #ff004f;
}
.font-weight-bold{
    color: #ff0000;
}

#button:hover{
    color: navajowhite;
}
#task-complete{
    text-decoration: line-through;
}

@media only screen and (max-width: 576px){
    nav .fa-sharp{
        display: block;
        font-size: 25px;
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
        
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }
    nav ul{
        background-color: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;padding-top: 50px;
        z-index: 2;
    }
}
